body {
    height: 100vh;
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
    background-color: #DDD;
}

section {
    margin: 2em;
    padding: 1em;
    width: 40ch;
    min-height: 5ch;
    border: 1px solid #777;
}