body {
    height: 100vh;
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
    background-color: #DDD;
}

div {
    margin: 1em;
    padding: 0 1em;
    width: 40ch;
    min-height: 22ch;
    border: 1px solid #777;
    background-color: #EEE;
    border-radius: 0.5em;
    float: left; /* old but works */
}